<!DOCTYPE html>
<html lang="en-us" style="min-height: 100%;">
    <head>
        <meta charset="utf-8">
        <!-- Ensures that website adjusts to display on mobile devices properly -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Forgot Password | ClickGlance </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='css/style.css')}}">
    </head>
</html>
<body style="height: 100%; margin: 0px; background-image: linear-gradient(rgba(46, 106, 235, 0), rgba(46, 106, 235,0.4));">
        <div class="pw-reset-window" id="forgot-pw-window">
                <p id="clickgance-title" style="font-size: large;">ClickGlance</p>
                {% if landing == "true" %}
                        <p class="pw-reset-header" id="forgot-pw-header">Forgot Password</p>
                        <p id="forgot-pw-msg">
                                Please enter the email used to create your ClickGlance account, and you'll receive a link to reset your password.
                        </p>
                        <form id="forgot-pw-form" method="POST" action="/forgotpassword">
                                <input type="email" id="forgot-pw-email-input" name="forgot-pw-email-input" placeholder="Email">
                                <button type="submit" id="send-reset-link-btn" value="send-reset-link">Send Reset Link</button>
                        </form>

                {% else %}
                        {% if user_exists == "true" %}
                                <p class="pw-reset-header" id="forgot-pw-header" style="color: green;">&#x2713; Email Sent!</p>
                                <p id="forgot-pw-msg">
                                        An email containing a link to reset your password has been sent to {{email}}.
                                </p>
                                <p>This link will be valid for 30 minutes.</p>
                        {% else %}
                                <p class="pw-reset-header" id="forgot-pw-header" style="color: red;">&#10006; Account not Found </p>
                                <p id="forgot-pw-msg">
                                        There is no account associated with {{email}}.
                                </p>
                        {%  endif %}
                {% endif %}
                
                <a href="{{ url_for('index') }}">&larr; Back to homepage</a>
        </div>
</body>
