<!DOCTYPE html>
<html lang="en-us" style="min-height: 100%;">
    <head>
        <meta charset="utf-8">
        <!-- Ensures that website adjusts to display on mobile devices properly -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Activate Account | ClickGlance </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='css/style.css')}}">
    </head>
</html>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="alert {{category}}">
                    {{msg}}
                        <span class="msg-close-btn" onclick="this.parentElement.style.display='none'">
                            &times;
                        </span> 
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<body style="height: 100%; margin: 0px; background-image: linear-gradient(rgba(46, 106, 235, 0), rgba(46, 106, 235,0.4));">
        <div class="pw-reset-window" id="inactive-account-window">
                <p id="clickgance-title" style="font-size: large;">ClickGlance</p>
                
                <p class="pw-reset-header" id="activate-account-header">You're almost there, {{username}}!</p>
                <p>
                    An email containing a link to verify your account has been sent to {{email}}.
                </p>
                <p>This link will be valid for 1 hour.</p>
                <form id="resend-activation-link-form" method="POST" accept="/inactiveaccount">
                    <input class="resend-link" type="submit" value="Resend Link" id="resend-activation-link-btn" name="resend-activation-link-btn">
                </form>
        </div>
</body>
