<!DOCTYPE html>
<html lang="en-us" style="min-height: 100%;">
    <head>
        <meta charset="utf-8">
        <!-- Ensures that website adjusts to display on mobile devices properly -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title> Reset Password | ClickGlance </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='css/style.css')}}">
        <script type="text/javascript" src=" {{url_for('static', filename='script/resetpwscript.js')}}" defer></script>
    </head>
</html>
<body style="height: 100%; margin: 0px; background-image: linear-gradient(rgba(46, 106, 235, 0), rgba(46, 106, 235,0.4));">
        <div class="pw-reset-window" id="reset-pw-window">
            <p id="clickgance-title" style="font-size: large;">ClickGlance</p>
                <p class="pw-reset-header" id="forgot-pw-header">Reset Password</p>
                <form id="reset-pw-form" method="POST" action="/resetpassword/{{token}}">
                        <div id="reset-pw-input-group" class="form-input-group" style="flex-direction: column;">
                                <input type="text" id="userId" name="userId" value="{{user_id}}" style="display: none;">
                                <input type="password" id="resetpw-input" name="resetpw-input" placeholder="New Password" required>
                                <input type="password" id="confirmpw-input" name="confirmpw-input" placeholder="Confirm Password" required>
                                <div id="resetpw-error-message">Passwords do not match.</div>
                        </div>
                    <button type="button" id="reset-pw-btn" value="reset-pw">Reset Password</button>
                </form>     
        </div>
</body>
